

p, li{
  font-size: 20px;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    display: block;
    color: black;
    background-color:#f1f1f1;
    max-width:100%;
    text-align: center;
    margin-top: 10px;
}

* {
  box-sizing: border-box;
}
a{text-decoration: none;}

h1{font-family: verdana;
font-weight: normal;
font-style: italic;
font-size: 45px;}

.btn-group .button {
  background-color: #EAD2A8;
  border: none;
  color: white;
  padding: 32px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
  width: 75%;
  display: block;
  margin:auto;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #C8AD7F;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

,header li {
  float: left;
}

.header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover {
  background-color: #C8AD7F;
}

.active {
  background-color: white;
}
/* Apply the left alignment to the list elements */
li {
  /* Float the list elements to the left */
  float: left;
  /* Clear any other floating elements */
  clear: left;
}
.header {
  text-align: center;
  padding: 20px;
  font-size: 30px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-item {
  background-color: inherit;
  border: none;
  padding: 20px;
  font-size: 30px;
  text-align: center;
 width: 100%;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 760px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* Only one column */
  }
}
