body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #134074;
    align-content: center;
    margin: 0px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    animation-name: slide;
    animation-duration: 2s;
}

nav{
    height: 60px;
    width: 100%;
    background-color: rgb(228, 228, 228);
    display: flex;
    padding: auto 3px auto 3px;
    overflow: hidden;
    animation-name: left-to-right;
    animation-duration: 3s;
}

@keyframes left-to-right{
    from {width: 0}
    to {width: 100%}
}

@keyframes fade{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#group-name{
    padding: 19px 30px 10px 20px;
    color: black;
    float: left;
    font-style: italic;
    font-weight: bold;
}



li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    border: 1px solid black;
    padding: 7px 5px 9px 5px;
    border-radius: 3px;
    transition: 350ms;
    
}

li a:hover{
    background-color: #1C7293;
    color: aliceblue;
    border-color: transparent;
}

li{
    padding: 10px 13px;
    float: right;
    font-size: 2.3ch;
    letter-spacing: 0.06em;
    animation-name: fade;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}


#middle{
    background-color: #13315C;
    color: aliceblue;
}

#top-text-section{
    padding: 10px 0 10px 0;
    font-size: large;
    margin: 15px 50px 50px 50px;
    align-content: center;
    font-size: 1.6em;
    line-height: 1.9em;
    font-weight: 500;
}

#desc{
    opacity: 100%;
    width: 100%;
    overflow: hidden;

}

@keyframes slide{
    from {opacity: 0%; padding-top: 30%;}
    to {opacity: 100%; padding-top: 0%;}
}


#middle-text-section{
    margin: 30px;
    padding: 30px 20px 50px 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 450;
    font-size: 1.6em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30%;
    row-gap: 15px;
    margin: auto;
    min-height: 0;
    min-width: 0;
}

#middle-text-section > div{
    text-align: left;
    padding: 50px 30px 50px 30px;
    min-width: 0;
    overflow: hidden;
    line-height: 1.6em;

}


p > a{
    color: aliceblue;
    text-decoration: none;
}

p > a:hover{
    font-weight: bolder;
    font-style: italic;
}

.subheading h4{
    padding-right: 10px;
    overflow: hidden; 
    border-right: .31em solid rgb(255, 255, 255); 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .04em; 
    animation: 
    typing 3.5s steps(30, end),
    blinking-line 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  

@keyframes blinking-line {
    50% { border-color: transparent }
}

/*Typewriter effect/animation from https://css-tricks.com/snippets/css/typewriter-effect/. Several changes 
were made, such as the blinking line's colour, the duration of the animation, letter spacing, 
blinking line's animation etc*/


#bottom{
    background-color: #0B2545;
    padding: 20px 0 20px 0;
}

#bottom-text-section{
    margin: 30px;
}

.button{
    padding-top: 30px;
}

.button-link{
    padding: 15px 20px 15px 20px;
    letter-spacing: 1.2px;
    font-size: 0.8em;
    font-family: helvetica;
    background-color: #13315C;
    color:aliceblue;
    border: 1px solid aliceblue;
    transition: 350ms;
    text-decoration: none;
}

.button :hover{
    background-color: aliceblue;
    color: black;
}

